body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
}

img{
    max-width: 100%;
    height: auto;
}

/* CSS DESTINADO A LA BARRA DE NAVEGACIÓN */
#navbar {
    background-color: rgb(0, 0, 0);
}

.navbar-brand{
    color: rgb(255, 255, 255);
}

.navbar-brand:hover {
    color: lightblue;
}
#navbarNav a {
    color: blue;
    padding: 10pt;
}

#navbarNav a:hover {
    color: lightblue;
}

/* CSS DESTINADO A LA SECCIÓN SOBRE MÍ */
#foto-perfil {
    align-self: center;
    width: 300px;
    height: auto;
    clip-path: circle(30% at 54% 35%);
    border-radius: 15%;
}

#aboutme {
        background-image: url('../images/Mundo.jpg');
        background-size: cover; 
        background-position: center; 
        background-attachment: fixed; 
        padding: 20px; 
        color: rgb(0, 0, 0); 
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
        height: auto; 
    }
    
#aboutme p {
    margin-bottom: 20pt;
}

/* CSS DESTINADO A LA SECCIÓN EXPERIENCIA LABORAL*/

#experience {
    background-color: #333333;
    padding: 20px 0;
}

#experience h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 40px;
}

.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255) ;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #333;
    font-size: 1.25rem;
}

.card-subtitle {
    color: #666;
    font-size: 1rem;
}

/* CSS DESTINADO A LA SECCIÓN PROYECTOS*/
#projects {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
    color: rgb(255, 255, 255);
}

#projects h2{
    color: rgb(255, 255, 255);
    text-align: center;
}
/* CSS DESTINADO AL PIE DE PAGINA*/
footer {
    background-color: #000000;
    color: rgb(25, 22, 172);
    text-align: center;
    padding: 10px 0;
}
